<!DOCTYPE html>
<html lang="en">

        <!DOCTYPE html>

        <head>
            <title>League Of Legends Wiki</title>
            <meta charset="UTF-8">
            <meta name="description" content="Game Warrior Template">
            <meta name="keywords" content="warrior, game, creative, html">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Favicon -->
            {% block stylesheets %} {% endblock  %}



        </head>


    <body>
        {% block body %}{% endblock %}

    </body>
</html>

        {% block javascripts %} {% endblock %}
