{% extends 'layouts/layout.html.twig' %}
{% block content %}



    <section class="page-section spad contact-page bg-grey">
        <div style="margin-bottom:150px;" class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="comment-title">Nous contacter</h4>
                    <p>N'hésitez pas à nous envoyer un message si vous avez une question ou si vous avez un problème avec le site !</p>
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="contact-info-list">
                                <li><div class="cf-left">Adresse</div><div class="cf-right">Rue des potier numéro 3</div></li>
                                <li><div class="cf-left">Téléphone</div><div class="cf-right">+324789521</div></li>
                                <li><div class="cf-left">E-mail</div><div class="cf-right">MasterPotier@gmail.com</div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div><br>
                <div class="col-lg-8">
                    <ul class="contact-info-list">
                        <li><div style="text-align:center;margin-top:28px;padding:5px;border-style: solid;border-width: 5px;border-color: #ffb320;" class="cf-right">Merci pour votre message vous recevrez une réponse le plus rapidement possible !</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




{% endblock content %}
